page-list {

  background: #fff;

  .header {
    height: 44px;
    width: 100%;
    background: color($colors, primary);
    display: flex;
    border-bottom: 1px solid #eee;


    .back{
      font-size: 24px;
      color: #fff;
      padding: 7px 20px 0 10px;
    }

    .search-input{
      flex: 1;
      border: none;
      background: none;
      color: #fff;

      &::-webkit-input-placeholder{
        color: #fff;
      }
    }
  }

  .search-segment{
    height: 35px;
    background: #fff;
    display: flex;

    button{
      padding: 0;
      margin: 0;
      width: 20%;
      height: 35px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    button.active{
      border-bottom: 2px solid color($colors, primary);
    }
  }

  .list{
    margin-top: 0;
  }
  .list .item-block{
    background: #f8f8f8;
  }

  .list .item-block .item-inner{
    border-bottom: 1px solid #eee;
  }
  .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block{
    border-bottom: 1px solid #eee;
  }


}
