@keyframes circle {
  from{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
page-playing {
  background: color($colors, primary);

  .playing-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .header {
    height: 50px;
    width: 100%;
    background: color($colors, primary);
    display: flex;
    font-size: 24px;
    color: #fff;
    padding: 11px 15px;
    justify-content: space-between;

  }

  .body{
    background: inherit;
    text-align: center;
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;

    .play-album{
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .dash:before{
        content: '-';
        padding: 0 10px;
      }

      h3{
        font-size: 1.8rem;
      }
    }

    .album{
      height: 13rem;
      width: 13rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto;
      background: #283056;
      background-size: 100% 100%;
      border: 2px solid #fff;

      img{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

      }

      .circle-animation{
        animation: circle 15s linear infinite forwards;
      }


    }

    .lyric-scroll{
      height: 100px;
      text-align: center;
      background: none;
      padding: 0 10%;

      .scroll-content{
        overflow-y: hidden;
      }

      p{
        margin: 0;
        line-height: 20px;
        font-size: 1.4rem;
        color: #aaa;
      }

      p.cur{
        font-size: 1.43rem;
        color: #fff;
        transition: color 0.3s;
      }
    }

    .lyric{
      height: 100px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      p{
        margin: 0;
        font-size: 12px;
        max-width: 80%;
        text-align: center;
        display: block;
        line-height: 20px;
        &:nth-child(1){
          color: rgba(255, 255, 255, 0);
        }
        &:nth-child(2){
          background-image: -webkit-gradient(linear, 0 0, 0 bottom,to(rgba(122, 138, 176, 1)), color-stop(0.5, rgba(82,98,136,1)), from(rgba(32, 48, 86, 1)));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:nth-child(3){
          background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(122, 138, 176, 1)), color-stop(0.8, rgba(255,255,255,1)), to(rgba(255, 255, 255, 1)));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:nth-child(4){
          color: rgba(255,255,255,0.95);
        }
        &:nth-child(5){
          background-image: -webkit-gradient(linear, 0 0, 0 bottom, to(rgba(122, 138, 176, 1)), color-stop(0.3, rgba(255,255,255,1)), from(rgba(255, 255, 255, 1)));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:nth-child(6){
          background-image: -webkit-gradient(linear, 0 0, 0 bottom,from(rgba(122, 138, 176, 1)), color-stop(0.5, rgba(82,98,136,1)), to(rgba(32, 48, 86, 1)));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:nth-child(7){

        }
      }

    }

    .play-info{
      height: 155px;
      width: 100%;
      background: #fff;
      color: #99CFFC;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 15px;

      .process-static{
        width: 100%;
        height: 3px;
        background: #E1F1FF;
        position: relative;
        top: 20px;
        font-size: 12px;

        .process-dynamic{
          position: relative;
          padding: 0 6px;
          width: 0%;
          background: #99CFFC;
          height: 3px;
          //
          //&:after{
          //  content: '';
          //  width: 13px;
          //  height: 13px;
          //  background: #9dcef4;
          //  display: inline-block;
          //  border-radius: 50%;
          //  position: absolute;
          //  top: -5px;
          //  right: 0px;
          //}
          //
          //&:before{
          //  content: '';
          //  width: 21px;
          //  height: 21px;
          //  background: rgba(216, 239, 253, 0.8);
          //  display: inline-block;
          //  border-radius: 50%;
          //  position: absolute;
          //  top: -9px;
          //  right: -4px;
          //}
        }

        .process-pointer{
          width: 21px;
          height: 21px;
          background: rgba(216, 239, 253, 0.8);
          position: absolute;
          right: -4px;
          top: -9px;
          border-radius: 50%;

          &:before{
            content: '';
            width: 13px;
            height: 13px;
            background: #9dcef4;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            right: 4px;
          }
        }
        .cur-process{
          position: absolute;
          top: -24px;
          left: 15px;
          color: #99CFFC;
        }
        .all-process{
          position: absolute;
          top: -24px;
          right: 15px;
          color: #99CFFC;
        }
      }

      .play-controller{
        color: #99CFFC;
        top: 10px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        padding: 0px 30px;

        i{
          font-size: 26px;
        }

        .icon-play, .icon-pause{
          font-size: 45px;
        }

      }

      .voice{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
          padding: 0 15px;
        }
        .voice-slider-static{
          width: 70%;
          height: 3px;
          background: #E1F1FF;
          position: relative;


          .voice-slider-dynamic{
            width: 33%;
            height: 3px;
            background: #99CFFC;
            position: relative;

            .voice-pointer {
              width: 13px;
              height: 13px;
              background: #9dcef4;
              position: absolute;
              right: -4px;
              top: -5px;
              border-radius: 50%;
            }

            //  &:before{
            //    content: '';
            //    width: 13px;
            //    height: 13px;
            //    background: #9dcef4;
            //    display: inline-block;
            //    border-radius: 50%;
            //    position: absolute;
            //    top: 4px;
            //    right: 4px;
            //  }
            //}
            //&:after{
            //  content: '';
            //  width: 13px;
            //  height: 13px;
            //  background: #9dcef4;
            //  display: inline-block;
            //  border-radius: 50%;
            //  position: absolute;
            //  top: -5px;
            //  right: 0px;
            //}
          }
        }

      }
    }

  }

}
