page-search {
  background: #fff;
  .search-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .revise-empty{
    height: 55px;
  }

  .header {
    height: 50px;
    width: 100%;
    background: color($colors, primary);
    display: flex;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .back{
      font-size: 24px;
      color: #fff;
      padding: 11px 15px;
    }

    .search-input{
      flex: 1;
      border: none;
      background: none;
      color: #fff;
      margin-top: 1px;
      font-size: 1.5rem;

      &::-webkit-input-placeholder{
        color: #fff;
      }
    }
  }

  .search-segment{
    height: 35px;
    background: #fff;
    display: flex;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;

    button{
      padding: 0;
      margin: 0;
      width: 20%;
      height: 35px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    .button-inner{
      font-size: 1.5rem;
    }

    button.active{
      border-bottom: 2px solid color($colors, primary);
    }
  }

  ion-scroll{
    flex: 1;
  }

  .list{
    margin-bottom: 0;

  }

  .item h2{
    color: #555;
  }

  .reviese-content{
    margin-top: 85px;
  }

  .infinite-loading{
    margin: 0;
  }

  ion-infinite-scroll-content{
    background: #fcfcfc;
    min-height: 40px;
  }
}
