page-preview {
  .preview{
    background: #fff;
    margin-bottom: 0;
    margin-top: 1px;
    border-top: 1px solid #aaa;


    .item{
      border-bottom: none !important;
      border-top: none !important;
    }

    .label{
      margin: 5px 8px 5px 0;
    }

    .item h2{
      font-size: 1.4rem;
    }
    .item p{
      font-size: 1.2rem;
      margin-top: 4px;
    }

    button[item-right]{
      margin: 0 2px;
      height: 40px;
    }

    i{
      font-size: 26px;
    }

    .icon-next{
      font-size: 20px;
    }
  }
}
